.lista-suspensa label {
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
}

.lista-suspensa select {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    box-sizing: border-box;
    border: none;
    font-size: 24px;
    padding: 24px;
    width: 100%;
}