/* src/componentes/Rodape/index.js */

.footer {
    background: linear-gradient(white, red, black);
    color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.footer ul {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 3em;
    list-style: none;
}

.footer .imagem img {
    width: 50%;

}

.footer p {
    font-weight: 700;
    font-size: 18px;
}
